    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .header {
        background-color: rgb(239, 241, 110);
    }
    
    .navbar-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: orangered;
        list-style: none;
        width: 100%;
    }
    
    .navbar-nav a:hover {
        color: orange;
        background-color: orangered;
        border-radius: 5%;
        font-weight: bold;
        border: solid 2px white;
    }
    
    .resena {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px auto;
        padding: 10px;
    }
    
    .resena .boton {
        display: flex;
        justify-content: center;
    }
    
    .resena .parrafo1 {
        display: flex;
        justify-content: center;
        width: 80%;
        height: auto;
    }

   .resena .parrafo2 {
        display: flex;
        justify-content: center;
        width: 80%;
        height: auto;
    }
    
    .resena a {
        text-decoration: none;
        color: black;
        background-color: orangered;
        border-radius: 10%;
        font-weight: bold;
        padding: 20px;
        margin: 20px;
    }
    
    .resena a:hover {
        color: orange;
        background-color: orangered;
        border-radius: 10%;
        font-weight: bold;
        border: solid 2px black;
    }
    
    .img {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin: 20px auto;
        padding: 20px;
        background: linear-gradient(rgb(239, 241, 110), orangered);
    }
    
    section .div1 {
        margin: 50px 20px;
        transition: all 1s ease;
    }
    
    section .div1:hover {
        transform: scale(1, 1.5);
    }
    
    section .div2 {
        margin: 50px 20px;
        transition: all 1s ease;
    }
    
    section .div2:hover {
        transform: scale(1, 1.5);
    }
    
    .footer {
        grid-area: footer;
        background-color: orangered;
        align-self: center;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        color: orange;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
    
    .menu {
        font-size: 32px;
        text-align: center;
        margin: 30px auto;
        padding: 10px;
    }
    
    .salsas {
        display: block;
        text-align: center;
        margin: 30px;
        padding: 10px;
    }
    
    .titulo {
        margin: 20px;
    }
    
    .formulario {
        display: block;
        text-align: center;
        margin: 20px;
        padding: 10px;
    }
    
    h1 {
        font-family: 'Gloria Hallelujah', cursive;
        font-weight: bold;
        font-size: 64px;
        text-align: center;
    }
    
    h2 {
        color: rgb(85, 201, 50);
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 2.5rem;
    }
    
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        color: orange;
    }
    
    @media screen and (max-width: 768px) {
        h2 {
            color: rgb(85, 201, 50);
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 1.5rem;
        }
        .row {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
    }