header {
    background-color: $bg_claro;
    .navbar-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: orangered;
        list-style: none;
        width: 100%;
    }
    & a:hover {
        color: orange;
        background-color: orangered;
        border-radius: 5%;
        font-weight: bold;
        border: solid 2px white;
    }
}