main {
    background-color: $bg_blanco;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    h2 {
        color: rgb(85, 201, 50);
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 2.5rem;
    }
}